@use '../../../theme-chalk/src/common/index.scss';


.scrollbar-container {
  // 变量定义
  --scrollbar-container-track-color:var(--color-scroll-track);
  --scrollbar-container-thumb-color: var(--color-scroll-thumb);
  --scrollbar-container-thumb-hover-color: var(--color-scroll-thumb-hover);
  
  // 布局属性
  overflow: hidden;
  max-width: var(--radius-general);
  
  // 高度管理
  height: var(--size-vh-xs);
  max-height: var(--radius-general);
  
  // 滚动行为
  overflow-y: auto;
  
  // 滚动条基础样式
  &::-webkit-scrollbar {
    width: var(--scrollbar-container-scrollbar-width, --font-size-xs);
    height: var(--scrollbar-container-scrollbar-height, --font-size-xs);
  }
  
  &::-webkit-scrollbar-track {
    background-color: var(--scrollbar-container-track-color);
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-container-thumb-color);
    border-radius: var(--radius-lg);
    
    &:hover {
      background-color: var(--scrollbar-container-thumb-hover-color);
    }
  }
  
  // 修饰符样式
  &--Maxheight {
    height: unset;
    max-height: var(--max-height);
  }
  
  &--widthX {
    overflow: auto; // 合并写法
  }
  
  &--disabledHeight {
    overflow-y: hidden;
  }
  
  &--disabledWidth {
    overflow-x: hidden;
  }
  
  &--disabledScroll {
    overflow: hidden;
  }
  
  &--corner::-webkit-scrollbar-corner {
    background-color: var(--scrollbar-container-track-color);
  }
}