# Editor directores and files
.idea

# Package Manager
node_modules
.pnpm-debug.log*

#system
.DS_Store

# Bundle
dist
coverage
packages/element-plus/version.ts

#local env files
*.local
.eslintcache
cypress/screenshots/*
cypress/videos/*
tmp
docs/.vitepress/cache
docs/
