.my-radio {
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  &__input {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  &__original {
    opacity: 0;
    position: absolute;
    z-index: -1;
    pointer-events: none;
  }

  &__inner {
    width: var(--font-size-md); // 14px
    height: var(--font-size-md);
    border: var(--border-width-sm) solid var(--color-border-base);
    border-radius: var(--radius-circle);
    background: var(--color-white);
    position: relative;

    &:after {
      content: "";
      position: absolute;
      width: calc(var(--font-size-md) / 2.33); // ~6px
      height: calc(var(--font-size-md) / 2.33);
      border-radius: var(--radius-circle);
      background: var(--color-white);
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) scale(0);
      transition: transform 0.15s ease-in;
    }
  }

  &__label {
    margin-left: var(--size-radio-label-gap); // 8px
    font-size: var(--font-size-md);
    user-select: none;
  }

  &--checked {
    .my-radio__inner {
      border-color: var(--color-primary);
      background-color: var(--color-primary);

      &:after {
        transform: translate(-50%, -50%) scale(1);
      }
    }
  }

  &--disabled {
    opacity: 0.6;
    cursor: not-allowed !important;

    * {
      cursor: not-allowed !important;
      pointer-events: none;
      user-select: none;
    }
  }
}