.my-radio-button {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  height: var(--size-radio-button-height);
  line-height: var(--size-radio-button-height);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-medium);
  border: var(--border-width-sm) solid var(--color-border-base);
  background: var(--color-white);
  color: var(--color-text-regular);
  cursor: pointer;
  transition: all 0.2s;
  margin: 0;
  padding: 0 var(--size-radio-button-padding-x);
  border-radius: 0;
  outline: none;

  // Size
  &.my-radio-button--large {
    height: var(--size-radio-button-height-lg);
    line-height: var(--size-radio-button-height-lg);
    padding: 0 var(--size-radio-button-padding-x-lg);
    font-size: var(--font-size-md);
  }

  &.my-radio-button--small {
    height: var(--size-radio-button-height-sm);
    line-height: var(--size-radio-button-height-sm);
    padding: 0 var(--size-radio-button-padding-x-sm);
    font-size: var(--font-size-sm);
  }

  // Hover
  &:hover:not(.is-disabled) {
    color: var(--color-primary);
    border-color: var(--color-primary);
  }

  &.is-active {
    color: var(--color-white);
    background-color: var(--color-primary);
    border-color: var(--color-primary);
  }

  &.is-disabled {
    color: var(--color-text-disabled);
    background-color: var(--color-default-hover); // = #f5f7fa
    border-color: var(--color-border-disabled);   // = #e4e7ed
    cursor: not-allowed;
  }

  &.is-focus:not(.is-disabled) {
    box-shadow: 0 0 0 var(--border-width-sm) var(--color-primary-a50);
  }

  .my-radio-button__inner {
    display: block;
    padding: 0;
    line-height: inherit;
    transition: inherit;
    border-radius: 0;
  }

  // 非组内独立使用
  &:not(.my-radio-group *) {
    border-left: var(--border-width-sm) solid var(--color-border-base);
    border-radius: var(--radius-sm);
  }
}