.my-radio-group {
  display: inline-flex;
  align-items: center;
  border-radius: var(--radius-sm);
  overflow: hidden;
  line-height: normal;

  &.is-vertical {
    flex-direction: column;
    width: 100%;

    .my-radio-button {
      display: block;
      width: 100%;
      border-radius: 0;
      border-top: var(--border-width-sm) solid var(--color-border-base);
      border-left: 0 !important;

      &:first-child {
        border-top: var(--border-width-sm) solid var(--color-border-base);
        border-top-left-radius: var(--radius-sm);
        border-top-right-radius: var(--radius-sm);
      }

      &:last-child {
        border-bottom: var(--border-width-sm) solid var(--color-border-base);
        border-bottom-left-radius: var(--radius-sm);
        border-bottom-right-radius: var(--radius-sm);
      }

      &:not(:first-child):not(:last-child) {
        border-top: 0;
      }

      &.is-active .my-radio-button__inner {
        box-shadow: 0 calc(var(--border-width-sm) * -1) 0 0 var(--color-primary);
      }
    }
  }

  &:not(.is-vertical) {
    .my-radio-button {
      border-left: 0 !important;
      border-right: var(--border-width-sm) solid var(--color-border-base);

      &:first-child {
        border-left: var(--border-width-sm) solid var(--color-border-base) !important;
        border-top-left-radius: var(--radius-sm);
        border-bottom-left-radius: var(--radius-sm);
      }

      &:last-child {
        border-right: var(--border-width-sm) solid var(--color-border-base);
        border-top-right-radius: var(--radius-sm);
        border-bottom-right-radius: var(--radius-sm);
      }

      &:not(:first-child):not(:last-child) {
        border-right: var(--border-width-sm) solid var(--color-border-base);
      }

      &.is-active {
        border-right: var(--border-width-sm) solid var(--color-border-base);
        .my-radio-button__inner {
          box-shadow: calc(var(--border-width-sm) * -1) 0 0 0 var(--color-primary);
        }
      }
    }
  }
}