.my-progress {
  display: flex;
  align-items: center;
  max-width: 600px;
  margin-bottom: 15px;

  .my-progress__bar {
    flex: 1;
    height: 10px;
    background-color: #e5e5e5;
    border-radius: 5px;
    overflow: hidden;
  }

  .my-progress__text {
    margin-left: 10px;
    font-size: 14px;
    color: #606266;
  }
}

.my-progress__bar-inner {
  height: 100%;
  background-color: #409eff;
  /* 默认颜色 */
  transition: width 0.3s ease;
}

.my-progress__bar-inner--success {
  background-color: #67c23a;
}

.my-progress__bar-inner--warning {
  background-color: #e6a23c;
}

.my-progress__bar-inner--exception {
  background-color: #f56c6c;
}