@use '../../../theme-chalk/src/common/index.scss' as *;

.select-option {
  padding: var(--space-3) var(--space-4); // 8px 16px
  cursor: pointer;
  background-color: transparent;
  color: var(--color-white);

  &:hover {
    background-color: var(--color-select-option-bg-hover);
    color: var(--color-white);
  }

  &.is-selected {
    color: var(--color-primary);
    background-color: var(--color-select-option-bg-hover);
  }

  &.is-disabled {
    opacity: 0.6;
    cursor: not-allowed;
    color: var(--color-select-option-disabled-text) !important;
    background-color: inherit !important;

    .select-trigger {
      cursor: not-allowed;

      &:hover {
        border: none;
        background: inherit;
      }
    }
  }
}