.my-message {
    pointer-events: auto;
    padding: 8px 12px;
    border-radius: 6px;
    color: #fff;
    background: #333;
    display: inline-flex;
    align-items: center;
}

.my-message--content {
    margin-right: 8px;
}

.my-message--success {
    background: #57A957
}

.my-message--info {
    background: #909399
}

.my-message--warning {
    background: #e6a23c;
    color: #000
}

.my-message--error {
    background: #f56c6c
}

.my-message--close {
    background: transparent;
    border: none;
    color: inherit;
    cursor: pointer
}
