@use '../../../theme-chalk/src/common/index.scss' as *;

.my-timeline {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: var(--space-4) 0; // 16px 0
}

.my-timeline.horizontal {
  flex-direction: row;
  align-items: center;
  padding: 0 var(--space-4); // 0 16px
}