@use '../../../theme-chalk/src/common/index.scss';

/* ===== 基础 ===== */
.my-border {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  white-space: nowrap;
  transition: background-color var(--transition-fast), filter var(--transition-fast);
}

/* ===== 样式 ===== */
.my-border--dotted {
  border-style: dotted;
}

/* ===== 圆角 ===== */
.my-border--rounded {
  border-radius: var(--radius-round);
}

.my-border--circular {
  border-radius: var(--radius-circle);
}

/* ===== 布局 ===== */
.my-border--center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ===== 方位边框 ===== */
.my-border--top {
  border-top: var(--border-width-xl) solid var(--border-color-accent);
}