@use '../../../theme-chalk/src/common/index.scss' as *;

.my-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  width: var(--size-menu-width);
  height: 100vh;
  overflow: auto;
  background: var(--color-menu-bg);
  color: var(--color-menu-text);
  transition: width var(--motion-base) ease;
}

.my-menu.is-collapse {
  width: var(--size-menu-collapse-width);
}