.my-menu-item {
  display: flex;
  align-items: center;
  height: 56px;
  padding: 0 20px;
  cursor: pointer;
  font-size: 18px;
  color: inherit;
  user-select: none;
}

.menu-icon {
  width: 36px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
  font-size: 20px;
}

.menu-label {
  white-space: nowrap;
  line-height: 56px;
}

.my-menu-item:hover {
  background: rgba(255, 255, 255, 0.02);
}

.my-menu-item.is-active {
  color: var(--menu-active);
}

.my-menu-item.is-disabled {
  opacity: .5;
  cursor: not-allowed;
}