@use '../../../theme-chalk/src/common/index.scss' as *;

.MYRate {
  display: inline-flex;
  align-items: center;
  font-size: 0;
}

.MYRate__star {
  position: relative;
  display: inline-block;
  margin-right: var(--space-2_5); /* 6px */
  cursor: pointer;
  font-size: var(--font-size-xxl); /* 20px */
}

.MYRate__star.is-disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.MYRate__star-inner {
  position: relative;
  display: inline-block;
  overflow: hidden;
  transition: color var(--motion-fast); /* 0.2s */
  height: var(--size-xl); /* 32px, 替代 2.0rem */
}

.MYRate__text {
  margin-left: var(--size-10); /* 10px */
  font-size: var(--font-size-md); /* 14px */
  vertical-align: middle;
}