@use '../../../theme-chalk/src/common/index.scss' as *;

.my-breadcrumb-item {
  display: inline-flex;
  align-items: center;

  .my-breadcrumb-link {
    color: var(--color-primary);
    text-decoration: none;
  }

  .my-breadcrumb-separator {
    margin: 0 var(--space-3);
    color: var(--color-text-disabled);
    display: flex;
    align-items: center;
  }
}