.my-col {
  position: relative;
  box-sizing: border-box;
  width: var(--col-width, 100%);
  margin-left: var(--col-offset-left, 0);
  margin-right: var(--col-offset-right, 0);
  left: var(--col-push, 0);
}

@for $i from 1 through 24 {
  .my-col--span-#{$i} {
    width: calc(#{$i} / 24 * 100%);
  }

  .my-col--offsetLeft-#{$i} {
    margin-left: calc(#{$i} / 24 * 100%);
  }

  .my-col--offsetRight-#{$i} {
    margin-right: calc(#{$i} / 24 * 100%);
  }

  .my-col--pull-#{$i} {
    position: relative;
    right: calc(#{$i} / 24 * 100%);
  }

  .my-col--push-#{$i} {
    position: relative;
    left: calc(#{$i} / 24 * 100%);
  }
}