.my-tree-node {
  margin-left: 3px;

  &__content {
    display: flex;
    align-items: center;
    padding: 6px 8px;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.2s;
    color: var(--tree-text-color, #606266);

    &:hover {
      background-color: #f5f7fa;
    }

    &.leaf:hover {
      background-color: #f5f7fa;
    }

    &.selected {
      background-color: var(--tree-active-color, #409eff) !important;
      color: white;
    }

    &.selected:hover {
      background-color: var(--tree-active-color, #409eff) !important;
    }
  }

  .arrow {
    color: #bbb;
    font-size: 10px;
    width: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease;
  }

  .label {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__children {
    margin-left: 16px;
    border-left: 1px dashed #dcdfe6;
    padding-left: 12px;
    padding-top: 4px;
  }

  .tree-checkbox {
    margin-right: 8px;
  }

  .my-checkbox__input {
    margin-right: 0;
  }
}
