@use '../../../theme-chalk/src/common/index.scss' as *;

.my-tree-node {
  margin-left: 3px;

  &__content {
    display: flex;
    align-items: center;
    padding: 6px 8px;
    cursor: pointer;
    border-radius: var(--radius-xs);
    transition: all 0.2s;
    color: var(--color-text-regular);

    &:hover {
      background-color: var(--color-bg-disabled-light);
    }

    &.leaf:hover {
      background-color: var(--color-bg-disabled-light);
    }

    &.selected {
      background-color: var(--color-primary) !important;
      color: var(--color-white);
    }

    &.selected:hover {
      background-color: var(--color-primary) !important;
    }
  }

  .arrow {
    color: var(--color-tree-node-arrow);
    font-size: 10px;
    width: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease;
  }

  .label {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__children {
    margin-left: 16px;
    border-left: 1px dashed var(--color-border-base);
    padding-left: 12px;
    padding-top: 4px;
  }

  .tree-checkbox {
    margin-right: 8px;
  }

  .my-checkbox__input {
    margin-right: 0;
  }
}