@use '../../../theme-chalk/src/common/index.scss' as *;

.my-tree {
  background-color: var(--color-white);
  color: var(--color-text-regular);
  border-radius: var(--radius-xs);
  padding: 8px;
  overflow: auto;
}