:root {
  --font-size-xs: 12px;
  --font-size-sm: 13px;
  --font-size-md: 14px;
  --font-size-lg: 16px;
  --font-size-xl: 18px;
  --font-size-xxl: 20px;
  --font-size-date-header: 15px;
  --font-size-date-cell: 13px;

  --font-weight-regular: 400;
  --font-weight-medium: 500;

  --font-size-result-title: 24px;

  --font-size-carousel-nav: 24px;

  --font-size-dialog-close: 20px;
}