:root {
  --space-1: 2px;
  --space-2: 4px;
  --space-2_5: 6px;
  --space-select-dropdown-gap: 7px;
  --space-3: 8px;
  --space-3_5: 12px;
  --space-4: 16px;
  --space-5: 24px;
  --space-6: 32px;
  --space-form-item-gap: 20px;
  --space-badge-dot-margin: 5px;
  --space-collapse-padding-x: 15px;
  --space-collapse-padding-y: 10px;
  --space-progress-margin: 15px;
  --space-result-padding: 20px;
  --space-result-extra-margin: 20px;
  /* menu */
  --space-menu-padding-x: 16px;
  --space-submenu-padding-left: 40px;

  /* step */
  --space-step-gap: 16px;
  --space-step-padding-bottom: 16px;
  --space-step-content-margin-top: 8px;
  --space-step-content-margin-left: 12px;
  --space-step-title-margin-bottom: 4px;

  /* carousel */
  --space-carousel-indicator-gap: 8px;
}